node_modules
assets_NOEXPORT
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
assets/.DS_Store
assets/images/.DS_Store
assets/images/portfolio/.DS_Store
assets/images/portfolio/illustration/.DS_Store
