---
layout: default
title: Alzamon — Children's Illustration, Comics and Sketchbook Portfolio — About the Author
description: Description page with info of this illustration portfolio site's author, plus contact form.
---

{% assign social = site.data.socialmedia %}

<!-- page hero -->
<div class="jumbotron-fluid page-hero page-hero-about">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Who runs this thing?</h1>
                <p>Let me present myself...</p>
            </div>
        </div>
    </div>
  </div>
  <!-- end page hero -->

<div class="container section-about">
    <div class="row mb-4">
        <div class="col-md-4">
            <img src="/assets/images/azm-profile-picture-2022.jpg" class="profile-picture"
                alt="Alberto González (Alzamon) Profile Picture, 2022">
        </div>
        <div class="col-md-8">

            <p>
                I am <strong>Alberto
                    González</strong>, a Costa Rican born-and-based illustrator, 3D, comics artist, character designer
                and <a href="https://betoworks.com/" target="_blank">web/UX developer</a> BFA from the
                <strong>University of Costa
                    Rica</strong> in graphic arts and design.
            </p>

            <p>
                <strong>Alzamon</strong> is the artistic pseudonym I've adopted, composed from fragments of
                my full name. This site you are looking at has also been custom designed and developed by me, and <a
                    href="/services-for-creatives/">I can help build yours too.</a>
            </p>

            <p>In addition to providing web services to the creative community, I am currently <strong>looking for agent representation</strong> in illustration affairs, specially children's-oriented illustration, animation, comic books and/or graphic novels. I bring in more than <strong>25 years of work experience</strong> to take on any assignment.</p>

            <p>I am also fluent in English, Spanish, French and Portuguese languages.</p>

        </div>
    </div>

    <div class="row my-4">
        <div class="col newsletter-form-header">
            <h3><span>Industry Praise</span></h3>
        </div>
    </div>

    {% include testimonials.html %}

    <div class="row my-4">
        <div class="col newsletter-form-header">
            <h3><span>Odds and Ends (About Me)</span></h3>
        </div>
    </div>


    <div class="row">
        <div class="col">
        
            <ul class="list-group">
                <li class="list-group-item">My family is actually very small — my mother, younger brother and me so far. And taking care of them keeps me busy besides work as well.</li>
                <li class="list-group-item">I lost half of my frontal teeth on a bike accident when I was about 12 years old. (They're fixed now).</li>
                <li class="list-group-item">While I did follow an artistic career at college, the Internet was what ended me giving a stable job for the best part of two decades, first as a web designer, later as an UX / front end developer. This site is my personal attempt to regain my artistic roots through my evergreen passion of cartooning and character design.</li>
                <li class="list-group-item">Besides drawing, traveling the world is my other main passion. Usually I end up combining the two by visiting comic conventions abroad. I have been to comic cons and events in the U.S, Brazil, and France so far.</li>
                <li class="list-group-item">In the 90s, I managed to find <a href="https://en.wikipedia.org/wiki/Charles_M._Schulz" target="_blank">Charles M. Schulz's</a> residential address to ask him for advice and send him some awful doodles. He didn't write me back, but his secretary did, and he sent me an original, signed Peanuts strip which I keep on my studio to this day. As a reminder of always trying your hardest for what you believe in, no matter the circumstances.</li>
                <li class="list-group-item">For a first date, Italian food always works. Is there anyone who doesn't like pasta?</li>
                <li class="list-group-item">Parallel to my discovery of art at age 14, so did with jazz music. While the rest of my peers listened to pop or hair rock bands, I was a devote listener of the only radio station that played jazz on a regular basis in my hometown, and I continue being a jazz enthusiast to this day.</li>
            </ul>
        
        </div>
    </div>

    <div class="row my-4">
        <div class="col newsletter-form-header">
            <h3><span>Get In Touch</span></h3>

        </div>
    </div>

    <div class="row my-2">
        <div class="col">    
            <p>Got any questions? Tell me. Unless you are a spam robot — we don't serve your type here.</p>
            
            <!-- navbar include -->
            {% include azm-zoho-contactForm.html %}
        </div>
    </div>

    <div class="row">
        <div class="col newsletter-form-header">
            <h3><span>Social Media</span></h3>
        </div>
    </div>

    <div class="row mx-auto my-4 about-social">
        {% for item in social %}
        <div class="about-social-item"><a href="{{item.url}}" target="_blank" title="{{item.textDesc}}">
            <i class="fab {{item.icon}}"></i></a>
            <p class="d-none d-sm-block">{{item.text}}</p>
            {%- comment -%}
                        <img src="{{item.badge}}" alt="{{item.textDesc}}" srcset="">
            {%- endcomment -%}
        </div>
        {% endfor %}
    </div>

</div>


{% include newsletter.html %}