---
layout: default
title: Alzamon — Children's Illustration, Comics and Sketchbook Portfolio — About the Author
description: Description page with info of this illustration portfolio site's author, plus contact form.
---

{% assign social = site.data.socialmedia %}

<!-- page hero -->
<div class="jumbotron-fluid page-hero page-hero-about">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Me</h1>
                <p>The requisite ego-stroking section. I'll keep this short.</p>
            </div>
        </div>
    </div>
  </div>
  <!-- end page hero -->

<div class="container section-about">
    <div class="row mb-4">
        <div class="col-md-4">
            <img src="/assets/images/azm-profile-picture-2022.jpg" class="profile-picture"
                alt="Alberto González (Alzamon) Profile Picture, 2022">
        </div>
        <div class="col-md-8">

            <p>
                I am <strong>Alberto González</strong>, a Costa Rican born illustrator, comics artist, character designer, 3D modeler
                and <a href="https://betoworks.com/" target="_blank">UX developer</a> holding a BFA from the <strong>University of Costa
                    Rica</strong> in graphic arts and design.
            </p>

            <p>
                <strong>Alzamon</strong> is the artistic pseudonym I've adopted, composed from fragments of
                my full name. (I tell <a href="/2020/05/08/its-here-its-done/">here</a> some more about it). My decades-long experience on web design and development allows me to build my portfolio websites in customized form, something I feel important for my own image.</a>
            </p>

            <p>In addition to providing creative services to the creative community, I am currently <strong>looking for agent representation</strong> in illustration affairs, specially children's-oriented illustration, animation, comic books and/or graphic novels.</p>

            <p>I am also fluent in English, Spanish, French and Portuguese languages. As of mid-2023, I'm beginning studies on Japanese. For me, languages are the key to understand and throughly know cultures across the world.</p>

            <p>I also happen to love world traveling, jazz/experimental music and Key Lime pie.</p>

        </div>
    </div>

    <div class="row my-4">
        <div class="col newsletter-form-header">
            <h3><span>Industry Praise</span></h3>
        </div>
    </div>

    {% include testimonials.html %}


    <div class="row my-4">
        <div class="col newsletter-form-header">
            <h3><span>Get In Touch</span></h3>

        </div>
    </div>

    <div class="row my-2">
        <div class="col">    
  
            <!-- Google Forms iframe -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdy0INQL7deblMX19xYHpw4sA6FT_zkpcdyKEO5IOwpUW-JGQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" style="width:80vw; height:1550px; margin: 0 auto">Loading…</iframe>
           
        </div>
    </div>

    <div class="row">
        <div class="col newsletter-form-header">
            <h3><span>Social Media</span></h3>
        </div>
    </div>

    <div class="row mx-auto my-4 about-social">
        {% for item in social %}
        <div class="about-social-item"><a href="{{item.url}}" target="_blank" title="{{item.textDesc}}">
            <i class="fab {{item.icon}}"></i></a>
            <p class="d-none d-sm-block">{{item.text}}</p>
            {%- comment -%}
                        <img src="{{item.badge}}" alt="{{item.textDesc}}" srcset="">
            {%- endcomment -%}
        </div>
        {% endfor %}
    </div>

</div>


{% include newsletter.html %}