---
layout: default
title: Comics - Alzamon
---
{% assign cm = site.comics %}

<!-- page hero -->
<div class="jumbotron-fluid page-hero page-hero-comics">
    <div class="container">
        <div class="row">
            <div class="col ml-lg-5">
                <h1>Sequential Art</h1>
                <p class="portfolio-category-description">Graphic Novels, Comics, One Shots... and so on.</p>
            </div>
        </div>
    </div>
</div>
<!-- end page hero -->


<div class="container portfolio-category">
    <div id="portfolio-comics" class="row">
        <div class="col">
            <!-- Portfolio Masonry -->
            {% for item in cm %}
            <!-- masonry item -->
            <div class="portfolio-comics-item">

                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>

                <ul>
                    {% for comicpage in item.comicpages %}
                    <li><a href="{{comicpage.cp_full}}"><img src="{{comicpage.cp_thumb}}" alt="" srcset=""></a></li>
                    {% endfor %}
                </ul>

                <!-- <a href="{{item.url}}">
                            <div class="pm-overlay">
                                <i class="fas fa-search"></i>
                            </div>
                            <img src="{{item.masonryimage}}" alt="{{item.pretty_title}}">
                        </a> -->

            </div>
            <!-- /masonry item -->

            <!-- separator -->
            <div class="row">
                <div class="col separator-h">
                </div>
            </div>

            {% endfor %}
        </div>
    </div>



<!-- 
    <div class="row">
        <div class="col">
            <p>{{cd.size}} items in this category</p>
        </div>
    </div> -->

    {% include newsletter.html %}
    {% include ig-lightwidget.html %}
</div>