---
layout: default
title: Portfolio by Alzamon - Children's Illustration, Comics and Visual Creations
permalink: /portfolio/
description: Portfolio of original children's illustrations, character design, fan art and more from Alberto Gonzalez (Alzamon), an illustrator from Heredia, Costa Rica.
image: /assets/images/azm-masonry-presentation-2020.jpg
---
{% comment %}
=======================================================================
Portfolio page: set source variable and conditions on Assign tag below
=======================================================================
{% endcomment %}


{% comment %}
    {% assign pf = site.portfolio | sort: "sort_number" | reverse %}
{% endcomment %}

{% comment %}
=======================================================================
Portfolio page: set item category class on data-filters for Isotope
=======================================================================
{% endcomment %}

{% comment %}
====================================================
Optional: set limit on number of displayed items
ex:  --for item in illos limit:40--
====================================================
{% endcomment %}


{% assign pf = site.portfolio | sort: "sort_number" | reverse %}


<!-- page hero -->
<div class="jumbotron-fluid page-hero page-hero-portfolio">
    <div class="container">
        <div class="row">
            <div class="col ml-lg-5">
                <h1>Original Artwork</h1>
                <p class="portfolio-category-description">Illustration, picture books, character design...</p>
            </div>
        </div>
    </div>
</div>
<!-- end page hero -->


<div class="container portfolio-category">

<!-- Whole portfolio -  must be moved to an inner section -->
    <div class="container">
        <!-- Portfolio category selector -->
        <div class="row portfolio-category-container">
            <div class="col portfolio-category-selector py-xs-2 pb-sm-3">
                <ul class="d-flex justify-content-center">
                    <li><a href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".pmi-illustration">Illustration</a></li>
                    <li><a href="#" data-filter=".pmi-characterdesign">Character Design</a></li>
                    <li><a href="#" data-filter=".pmi-animation">Animation</a></li>
                    <!-- <li><a href="#" data-filter=".pmi-fanart">Fan Art</a></li> -->
                </ul> 
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- Display Isotope Portfolio Masonry -->
                <div id="portfolio-home" class="portfolio-masonry">
                    <!-- Show *only* items matching the "homepage" category and sort by the "sort_number" variable-->
                    <!-- use reverse switch to display latest (in number) posts -->

                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

                    {% assign hp = site.portfolio | where:"categories", "homepage" | sort: "sort_number" | reverse %}

                    {% for item in hp %}

                    {%- comment -%}
                    Optional: set limit: XX to restrict homepage display to that number
                    ex: {% for item in hp limit:32 %}{% endfor %}
                    {%- endcomment -%}

                    <!-- masonry item - define categories here -->
                    <!-- now using lightGallery to display images -->
                    <div class="portfolio-masonry-item 
                    {% if item.categories contains "illustration"%}pmi-illustration{% endif%}
                        {%if item.categories contains "characterdesign"%}pmi-characterdesign{%endif%}
                        {%- comment -%}
                        {%if item.categories contains "fanart"%}pmi-fanart{%endif%}
                        {%- endcomment -%}
                        {%if item.categories contains "animation"%}pmi-animation{%endif%}">

                        <!-- if an item is tagged as animation use this code -->

                        {%if item.categories contains "animation"%}
                            <a data-lg-size="1280-720" data-src="//www.youtube.com/watch?v={{item.yt_video_id}}" data-poster="https://img.youtube.com/vi/{{item.yt_video_id}}/maxresdefault.jpg" data-sub-html="<h3>{{item.pretty_title}}</h3>{{item.description}}">
                                <div class="pm-overlay d-flex flex-column">
                                    <i class="fas fa-search"></i>
                                    <strong class="text-center">{{item.pretty_title}}</strong>
                                    <span>{{item.pretty_category}}</span>
                                </div>
                                <img src="https://img.youtube.com/vi/{{item.yt_video_id}}/maxresdefault.jpg" alt="{{item.pretty_title}}">
                            </a>
                        {% else %}
                            <!-- otherwise use this code -->
                            <a href="{{item.fullsizeimage}}" data-sub-html="<h3>{{item.pretty_title}}</h3>{{item.description}}">
                                <div class="pm-overlay d-flex flex-column">
                                    <i class="fas fa-search"></i>
                                    <strong class="text-center">{{item.pretty_title}}</strong>
                                    <span>{{item.pretty_category}}</span>
                                </div>
                                <img src="{{item.masonryimage}}" alt="{{item.pretty_title}}">
                            </a>
                        {% endif %}


                    </div>
                    <!-- /masonry item -->
                    {% endfor %}
                </div>
                <!-- /End Masonry -->

            </div>
        </div>
    </div>
<!-- End of whole portfolio -->

    {% include newsletter.html %}
    {% include ig-lightwidget.html %}
</div>