<!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sf3zc1926915b45f5b0bf969fbc350e2c9a48c113f6c2b078b2d195d8ad1f0929f47" data-type="signupform" style="opacity: 1;">
	<div id="customForm">
<style>
.quick_form_7_css * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow-wrap: break-word
}
@media only screen and (max-width: 600px) {.quick_form_7_css[name="SIGNUP_BODY"] { width: 100% !important; min-width: 100% !important; margin: 0px auto !important; padding: 0px !important } .SIGNUP_FLD { width: 90% !important; margin: 15px 5% !important; padding: 0px !important } .SIGNUP_FLD input { margin: 0 !important } }
</style>
		<div class="quick_form_7_css" style="background-color: rgb(255, 255, 255); z-index: 2; font-family: Arial; border: 1px solid rgb(206, 206, 206); overflow: hidden; width: 960px; height: 180px" name="SIGNUP_BODY">
			<div>
				<div style="font-weight: bold; color: rgb(85, 85, 85); text-align: left; padding: 15px 15px 5px; display: block; box-sizing: border-box; font-family: &quot;Open Sans&quot;; font-size: 16px; border-style: none; border-width: 1px; width: 600px" id="SIGNUP_HEADING">Sign-up is as easy as pie.</div>
				<div style="position:relative;">
					<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all ">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td width="10%">
										<img class="successicon" src="https://snwj.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
									</td>
									<td>
										<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<form method="POST" id="zcampaignOptinForm" style="margin: 0px; width: 100%; text-align: center" action="https://maillist-manage.com/weboptin.zc" target="_zcSignup">
					<div style="background-color: rgb(255, 235, 232); padding: 10px; color: rgb(210, 0, 0); margin: 20px 10px 0px; border: 1px solid rgb(255, 217, 211); opacity: 1; font-family: &quot;Open Sans&quot;; font-size: 14px; display: none" id="errorMsgDiv">Please correct the marked field(s) below.</div>
					<div style="position: relative; display: inline-block; height: 32px; width: 350px" class="SIGNUP_FLD">
						<div style="padding: 5px 0px; color: rgb(85, 85, 85); display: block; text-align: left; font-family: &quot;Open Sans&quot;; font-size: 14px; background-color: rgb(255, 255, 255); width: 350px">Your Email:</div>
						<input type="text" style="border-width: 1px; border-style: solid; width: 100%; height: 100%; z-index: 4; outline: none; padding: 5px 10px; color: rgb(113, 106, 106); text-align: left; border-radius: 4px; background-color: rgb(235, 247, 249); box-sizing: border-box; font-family: &quot;Open Sans&quot;; font-size: 14px; border-color: rgb(206, 206, 206)" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
					</div>
					<div style="position: relative; margin: 5px 0px 40px 10px; display: inline-block; height: 32px; width: 350px" class="SIGNUP_FLD">
						<div style="padding: 5px 0px; color: rgb(85, 85, 85); display: block; text-align: left; font-size: 14px; font-family: &quot;Open Sans&quot;; width: 350px">And your name:</div>
						<input type="text" style="border-width: 1px; border-style: solid; width: 100%; height: 100%; z-index: 4; outline: none; padding: 5px 10px; color: rgb(113, 106, 106); text-align: left; border-radius: 4px; background-color: rgb(235, 247, 249); box-sizing: border-box; font-family: &quot;Open Sans&quot;; font-size: 14px; border-color: rgb(206, 206, 206)" changeitem="SIGNUP_FORM_FIELD" name="LASTNAME" id="EMBED_FORM_NAME_LABEL">
					</div>
					<div style="position: relative; margin: 0px 0px 15px 12px; display: inline-block; width: 120px; height: 32px" class="SIGNUP_FLD">
						<input type="submit" style="text-align: center; width: 100%; height: 100%; z-index: 5; border: 0px; color: rgb(255, 255, 255); cursor: pointer; outline: none; background-color: rgb(238, 151, 87); border-radius: 4px; font-family: &quot;Open Sans&quot;; font-size: 16px" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Subscribe">
					</div>
					<input type="hidden" id="fieldBorder" value="">
					<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
					<input type="hidden" id="emailReportId" name="emailReportId" value="">
					<input type="hidden" id="formType" name="formType" value="QuickForm">
					<input type="hidden" name="zx" id="cmpZuid" value="12589c9ad">
					<input type="hidden" name="zcvers" value="3.0">
					<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
					<input type="hidden" id="mode" name="mode" value="OptinCreateView">
					<input type="hidden" id="zcld" name="zcld" value="1d5efe525cb5ac77">
					<input type="hidden" id="zctd" name="zctd" value="1d5efe525cb5ac6a">
					<input type="hidden" id="document_domain" value="">
					<input type="hidden" id="zc_Url" value="snwj.maillist-manage.com">
					<input type="hidden" id="new_optin_response_in" value="0">
					<input type="hidden" id="duplicate_optin_response_in" value="0">
					<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
					<input type="hidden" id="zc_formIx" name="zc_formIx" value="3zc1926915b45f5b0bf969fbc350e2c9a48c113f6c2b078b2d195d8ad1f0929f47">
					<input type="hidden" id="viewFrom" value="URL_ACTION">
					<input type="hidden" id="scriptless" name="scriptless" value="yes">
				</form>
			</div>
		</div>
		<div style="display: none" id="unauthPageTitle">AZM - Newsletter Signup Form 2</div>
	</div>
</div>
<input type="hidden" id="signupFormType" value="QuickForm_Horizontal">
<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img src="https://snwj.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->