<div class="container-fluid block-about pt-3">
    <div class="row">
        <div class="col-xs-12 col-md-5 offset-md-1 py-5">
            <h2>Welcome to my portfolio site!</h2>
            <p>
                Hi there! I am <strong>Alberto</strong>, a Costa Rica-based children's illustrator, graphic designer, web front end and User Experience developer. <strong>Alzamon</strong> is the artistic pseudonym I've adopted, composed from fragments of my full name. In this portfolio site I have gathered my best <a href="/portfolio/">illustration work</a> and <a href="/comics/">comics for kids</a> I've done over the years along with a <a href="/sketchbook">Sketchbook</a> section and <a href="/blog/">some articles</a> that I write from time to time. I am currently looking for agent representation.
            </p>

            <p class="mt-3"><a href="/about/" class="btn btn-light btn-lg">Learn More / Contact Me <i class="fas fa-chevron-right"></i></a></p>

        </div>
        <div class="col-xs-12 col-md-5 block-about-image"></div>
    </div>
</div>