<!-- start creative services include -->

<div class="container my-3 azm-home-services">
    <div class="mascot-mechanic d-none d-md-none d-lg-block"></div>
    <div class="row mx-auto">
        <div class="col">
            <h3><span>Creative Services</span></h3>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col col-lg-10 mx-2">
            <!-- service columns -->
            <div class="azm-service-item">
                <h4 class="text-center">Website Critiques</h4>
                <!-- <div class="azm-home-services-link i01"></div> -->
                <p>Is your portfolio website working for you? I offer my 25-year experience on web design and
                    development to help you achieve your site goals.</p>
                <a href="/services/website-reports/" class="btn btn-secondary mx-sm-3"> <span>More Info</span>
                </a>
            </div>

            <div class="azm-service-item">
                <h4 class="text-center">Custom Characters</h4>
                <!-- <div class="azm-home-services-link i02"></div> -->
                <p>Whether you need a new mascot for your startup, or a whole team for your next production...
                    imagination is the limit.</p>
                <a href="/services/custom-character-design/" class="btn btn-secondary mx-sm-3"> <span>More
                        Info</span> </a>
            </div>
        </div>

<!-- end creative services include -->
