{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
{% else %}
<meta name="keywords" content="{{ site.keywords | join: ', ' | escape }}">
{% endif %}
<!-- FB Open Graph Properties -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.postimage %}
<meta property="og:image" content="{{ site.url }}{{ page.postimage }}">
{% elsif page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="/assets/images/azm-pageimage-fallback.jpg">
{% endif %}
<meta property="og:image:width" content="637" />
<meta property="og:image:height" content="403" />
<meta name="theme-color" content="#660d36" />
