<!-- newsletter integration -->

<div id="newsletter-signup" class="container-fluid py-3">
    <div class="row">
        <div class="col newsletter-form-header">
            <h3><span><i class="fa-regular fa-newspaper"></i> Newsletter</span></h3>
        </div>
    </div>

    <div class="row d-flex flex-column justify-content-center">
        <div class="col text-center">
            <a href="https://alzamon.substack.com/" target="_blank"><img src="/assets/images/blog/newsletter-substack-miniheader-webres.png" alt="Life's A Draw - A Substack Newsletter by Alzamon" srcset="" class="mx-auto img-s-35 my-3"></a>

            <p>Get monthly goodies, articles and updates of my artist's journey straight to your inbox.</p>
                <!-- newsletter form - substack -->
                <!-- <iframe src="https://alzamon.substack.com/embed" width="480" height="320" style="background:white;" frameborder="0" scrolling="no"></iframe> -->

                <!-- substackapi.com custom embed -->
                <div id="custom-substack-embed" class="my-2"></div>

        </div>
        <div class="col d-flex flex-column">
            
                <a class="btn mt-1" href="https://alzamon.substack.com/" target="_blank" title="Select to read my newsletter archives on Substack."><i class="fa-regular fa-newspaper"></i> Read Newsletter Archive</a>
    
        </div>
    </div>

</div>