<!-- testimonials include -->
<div class="row mx-0 row-testimonials">
    <div class="col-sm-6 col-md-4 mb-3">
        <blockquote>
            <p>
                <em>
                    "[Alberto] is a great professional with lots of experience... someone who understands the
                    context of modern technology and its challenges in the region"</em>
            </p>
            <span class="smaller">
                — <strong>Christian Van der Henst</strong><br>
                Co-founder, <a href="https://platzi.com/" target="_blank">Platzi</a>
            </span>
        </blockquote>
    </div>
    <div class="col-sm-6 col-md-4 mb-3">
        <blockquote>
            <p><em>"Every single time i got amazed at a new UI (...) Alberto ends up being part of that development.
                    I cand stress how much i admire his work."</em></p>

            <span class="smaller">
                — <strong>Mariano Amartino</strong><br>
                Americas Managing Director, <a href="https://startups.microsoft.com/" target="_blank">Microsoft for
                    Startups</a>
            </span>
        </blockquote>
    </div>
    <div class="col-sm-6 col-md-4 mb-3">
        <blockquote>
            <p><em>"[Alberto] is a well rounded professional and renaissance man. He has it all: artistic talent,
                    street smarts, business understanding and eloquence."</em></p>
            <span class="smaller">- <strong>Andrea Tanzi</strong><br>
                Business Innovation Senior Principal, <a
                    href="https://www.accenture.com/cr-en/about/locations/office-details?loc=Costa%20Rica"
                    target="_blank">Accenture</a>
            </span>
        </blockquote>
    </div>
</div>
<!-- end testimonials include -->