// AZM Blog styles
// =====================

// Post Grid styles
.posts {
    &-grid {
        padding: 0;

        ul {
            display: grid;
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            column-fill: auto;

            li {
                @include grid-item;
                a{
                    &:hover{
                        text-decoration: none !important;
                    }
                }
            }

            // grid breakpoints
            @include respond-below(sm) {
                grid-template-columns: 88%;
                column-count: 1;
            }

            @include respond-between(sm, md) {
                grid-template-columns: 44% 44%;
                column-count: 2;
            }

            @include respond-between(md, lg) {
                grid-template-columns: 29% 29% 29%;
                column-count: 3;
            }

            @include respond-above(lg) {
                grid-template-columns: 22% 22% 22% 22%;
                column-count: 4;
            }
        }
    }
}

#posts-item{
    .post {
        &-content {
            position: relative;
            z-index: 5;
            .post-header{
                color: $blogHeaderColor;
                background-image: none;
                + span{
                    color: $blogTextColor;
                    font-size:larger;
                }
            }
            .col {
                background: white;
                padding: 0 2rem;
                h3 {
                    color: $blogHeaderColor;
                    margin: 1.6rem 0 1rem 0;
                }
                p{
                    color: $blogTextColor !important;
                    font-size: 130%;
                    margin: 1.5rem 0;

                    // Drop Cap for posts
                    &:nth-of-type(1) {
                        &::first-letter {
                            font-size: 85px;
                            font-weight: 700;
                            line-height: 0.6em;
                            padding: 0 6px 6px 3px;
                            margin-top:0.2em;
                            float:left;
                        }
                    }
                }

                em, strong{
                    font-size: 110%;
                    color: $blogTextColor !important;
                }
            }
                &-picture{
                    position: relative;
                    z-index: 10;
                    background: white;
                    padding: 2rem;
                    margin: 3rem 0 0 0;
                    transform:scale(1.1);
                    @include blogPostShadow;
                    @include respond-below(sm){
                        padding: 1rem;
                        margin-top: 2rem;
                    }
                }
        }
    }
}