// AZM Blog styles
// =====================

// Post Grid styles
.posts {
    &-grid {
        padding: 0;

        ul {
            display: grid;
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            // grid-template-columns: 44% 44%;
            column-count: 2;
            column-fill: auto;

            li {
                @include grid-item;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:hover{
                        text-decoration: none !important;
                    }
                    h3{
                        font-size: 120%;
                    }
                }
            }


            // grid breakpoints

            @include respond-below(sm) {
                grid-template-columns: 88%;
                column-count: 1;
            }

            @include respond-above(sm) {
                grid-template-columns: 44% 44%;
                column-count: 2;
            }
        }
    }
}

#posts-item{
    .post {
        &-content {
            position: relative;
            z-index: 5;
            .post-header{
                color: $blogHeaderColor;
                background-image: none;
                + span{
                    color: $blogTextColor;
                }
            }
            .col {
                background: white;
                // padding: 0 2rem;
                h3 {
                    color: $blogHeaderColor;
                    margin: 1.6rem 0 1rem 0;
                }
                p{
                    color: $blogTextColor !important;
                    margin: 1.5rem 0;

                    // Drop Cap for posts
                    &.dropcap{
                        &::first-letter {
                            font-size: 85px;
                            font-weight: 700;
                            line-height: 0.6em;
                            padding: 0 6px 6px 3px;
                            margin-top:0.2em;
                            float:left;
                        }
                    }
                    &.closing{
                        &::after{
                            content:"\272A";
                            color: $body-alt-color;
                            margin: 0 0 0 0.5rem;
                        }
                    }
                }

                // em, strong{
                //     font-size: 110%;
                //     color: $blogTextColor !important;
                // }

                blockquote{
                    background-color: $blockquote-bg-color;
                    border: 1px dotted $blockquote-border-color;
                    padding: 0 2rem;
                    p{
                        color: $body-bg-color !important;
                    }
                }
                // centering images on markdown posts
                img[src*='#center'] { 
                    display: block;
                    margin: auto;
                }
            }
                &-picture{
                    position: relative;
                    z-index: 10;
                    background: white;
                    margin: 3rem 0 0 0;
                    transform:scale(1.1);
                    @include respond-below(sm){
                        padding: 1rem;
                        margin-top: 2rem;
                    }
                }
        }
    }
}