// Alzamon.com  - core.scss
// ============================


// z-index variables

$zIndexMain: 4;
$zIndexRopeScroller:3;
$zIndexFooter: 2;

body {
    position: relative;
    main {
        position: relative;
        z-index: $zIndexMain;
    }
}

//for bg switcher
.azm-main{
    background-color: $body-bg-color;
    transition: background-color .45s ease-in;
}

.container {
    // width: 85vw;
    // margin: 2rem auto;
    padding: 1rem 0;

    @include respond-below(md) {
        width: 86vw;
    }
}

.gallery {
    &-thumbnail {
        border: $headerColor 1px dotted;
    }
}

// home elements
// ================================================
#azm-home-carousel{
    background-color: $carousel-bg-color;
    color: $carousel-text-color;
    position: relative;
    z-index: 1;
    // carousel - desktop & above
    @include respond-above(md){
        // height: 400px;
        height: 75vh;
    }

    // carousel - tablets
    @include respond-between(sm, md){
        // height: 300px;
        height: 83vh;
    }

    // carousel - mobile
    @include respond-below(xs){
        height: 90vh;
    }

    .carousel{
        &-inner{
             height: inherit;
            }
        &-item{
            height: inherit;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:nth-of-type(1){
                background-image: url('/assets/images/carousel/ncr-01.jpg');
            }
            &:nth-of-type(2){
                background-image: url('/assets/images/carousel/ncr-02.jpg');
            }
            &:nth-of-type(3){
                background-image: url('/assets/images/carousel/ncr-03.jpg');
            }
            &:nth-of-type(4){
                background-image: url('/assets/images/carousel/ncr-04.jpg');
            }
            &:nth-of-type(5){
                background-image: url('/assets/images/carousel/ncr-05.jpg');
            }
            @include respond-below(xs){
                background-position: 70%;
            }
        }
    }

    .text-inside-container{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;
        width: 60vw;
        padding: 1rem;
        text-align: center;
        background-color: rgba(48, 63, 68, 0.8);
        color: $body-bg-color;
        z-index: 2;
        @include br05;
            h1{
                @include headerTextShadow($header-shadow-color);
                display: inline-block;
                    @include respond-between(sm, md){
                        font-size: 2.5rem;
                    }
            }
            p{
                color: $body-bg-color;
                margin: 0.8rem auto;
            }
            a{
                text-decoration: none;
                &:link{
                    color: $body-alt-color;
                }
                &:hover{
                    color: $link-hover-color !important;
                }
                &:visited{
                    color:lighten($link-visited-color,5%);
                }
            }
        //tanblets
        @include respond-between(sm, md){
            width: 75vw;
            margin-top: -18%;
        }
        @include respond-below(xs){
            width: 80vw;
            margin-top: -40%;
        }

    }
}

// home blog post
    #azm-home-blog {
        .row {
            &:nth-of-type(2) {
                div{
                    &:nth-of-type(1) {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        @include respond-above(md){
                            height: 300px;
                        }
                        @include respond-between(sm, md){
                            height: 200px;
                        }
                        @include respond-below(xs){
                            height: 250px;
                        }
                    }
                    &:nth-of-type(2){
                        background-color: $body-alt-color;
                        color: $body-bg-color;
                        @include br05;
                        a{
                            color: $body-bg-color !important; 
                        }
                        p{
                            &:last-of-type{
                                font-size: smaller;
                            }
                        }
                    }
                }
            }
        }
    }

// home creative services

// .azm-home{
//     &-services{
//         position: relative;
//         z-index: 2;
//         border-radius: 1.6rem;
//         background-color: $body-alt-color;
//         h3,h4,p{
//             color: $body-bg-color !important;
//         }
//         h3{
//             @include headerTextShadow($header-shadow-color);
//             @include headerLine($body-bg-color,$body-alt-color);
//         }
//         h4{
//             color: lighten($link2-color,0.5) !important;
//             font-weight: 500;
//             letter-spacing: -0.07rem;
//             margin: 1.3rem 0 0.5rem;
//         }
//         p{
//             margin: 0 auto 1rem !important;
//             @include respond-above(sm){
//                 width: 90%;
//             }
//         }

//         .row:nth-of-type(3){
//             .col{
//                 display: grid;
//                 grid-template-rows: auto;
//                     .azm-service-item{
//                         display: grid;
//                         text-align: center;
//                         justify-content: space-between;
//                     }
//                     @include respond-above(sm){
//                         grid-template-columns: 1fr 1fr;
//                     }
//                     @include respond-below(xs){
//                         grid-template-columns: 1fr;
//                     }                

//             }
//         }
//         &-link{
//             // custom service images
//             margin: 0 auto;
//             width: 80%;
//             height: 120px;
//             border: 3px $body-bg-color solid;
//             border-radius: 16px;
//             background-repeat: no-repeat;
//             background-position: center;
//             &.i01{
//                 background-image: url('/assets/images/portfolio/2015_i_charlieHebdo_spirou@400w.jpg');
//             }
//             &.i02{
//                 background-image: url('/assets/images/portfolio/2016_i_christmasCardFinal@400w.jpg');
//             }
//             &.i03{
//                 background-image: url('/assets/images/portfolio/2017_i_buildingBuddies@400w.jpg');
//             }
//             span{
//                 position: relative;
//                 left: -9999em;
//             }
//             +p{
//                 @include respond-above(md){
//                     padding-left: 1rem;
//                     padding-right: 1rem;
//                 }
//             }
//         }
//         .mascot-mechanic{
//             display: inline-block;
//             width: 250px;
//             height: 350px;
//             background: url('/assets/images/azm-mascot-mechanic.png') no-repeat center;
//             background-size: contain;
//             position: absolute;
//             z-index: 3;
//             left: 86%;
//             bottom: 0;
//             @include respond-below(sm){
//                 display: none;
//             }

//             // @include respond-between(sm, md){
//             //     width: 160px;
//             //     height: 280px;

//             // }
//         }
//     }


// }