// @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Montserrat:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');


// Font Mixins
// ===================


// Universal Font Scaling
html{
    font-size: calc(15px + 0.390625vw);
}

h1, h2, h3{
    font-weight: 800;
}

h1{
    letter-spacing: -0.10rem;
}

h2{
    letter-spacing: -0.08rem;
}

h3{
    letter-spacing: -0.05rem;
}

h4, h5, h6{
    font-weight: 500;
}

p, strong, ul, ol, li{
    font-family: 'Open Sans', sans-serif;
    color: $body-text-color;
    letter-spacing: -0.05rem;
}

h1, h2, h3, h4, h5, h6, 
.portfolio-previous,
.portfolio-next,
.portfolio-previous>span>strong,
.portfolio-next>span>strong,
.pm-overlay>span,
.lg-sub-html,
.portfolio-grid-item,
.posts-grid span,
#comicPages a span
{
    font-family: 'Open Sans', sans-serif;
}


// navbar

#azmNav ul li, .portfolio-category-selector ul li{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

//blog font styles
.post{
    &-content{
        p, span, ul li{
            font-family: 'Open Sans', sans-serif;
        }
    }
}

// non-blog header styles
.container{
    .row{
            h1, h2, h3{
                color: $link-color;
                background-image: none;
            }
            h2, h3{
                margin: 0;
            }
            p{
                margin: 1rem 0;  
            }
            a{
                color: $link-color;
                // font-weight: bold;
                &:hover{
                    color: lighten($body-alt-color,10%);
                }
                &:visited{
                    color:$link-visited-color;
                }
            }
        @include respond-below(sm){
            h1{
                font-size: 2.4rem;
            }
        }
    }
    // style headers by category
    &.portfolio-category{
        h2{
            font-family: 'Open Sans',sans-serif;
        }
    }
    &.section-about{
        h1{
            font-family: 'Open Sans', sans-serif;
        }
    }
}

//reset font size on content containers
// .jumbotron-fluid+.container{
//     h1,h2,h3,h4,h5,h6{
//         font-size: inherit;
//     }
// }

//footer-container overrides
.footer-container{
    h1,h2,h3{
        color:white !important;
    }
    ul li{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        a{
            color:$footerLinkColor !important;
            &:hover{
                color: $link-color !important;
                text-decoration: underline;
            }
        }
    }
    p{
        color: $footer-text-color;
    }
}

// font size classes
.smaller{
    font-size: 80% !important;
}