// footer styles

footer {
    // actual links and copyright container
    background: linear-gradient(to bottom, rgb(26, 76, 82) 0%, $link-color 50%, $link-color 80%);
    
    // background-size: 70%;
    color: white;
    
    .container{
        @include respond-above(md){
        padding:0;
        }
        h3{
            font-size: 1.3rem;
        }
    }
// footer breakpoints

    @include respond-between(sm,md){
        background-attachment: scroll;
    }

    @include respond-below(sm) {
        //mobile
        background-image: none;
    }
}

// footer bg image
.footer-background{
    background-image: url('/assets/images/azm-bg-footer-alpha-hires.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include respond-between(sm, md){
        background-size: 70%;
    }
    @include respond-below(xs){
        background-size: cover;
    }
}


.footer-container {
    //container for small screens
    margin: 4rem 0 0 0;

    ul {
        margin-top: 0.8rem;

        li {
            list-style: none;
            height: 2rem;
            // footer links
            a{
                color: $footerLinkColor;
                &:hover{
                    color: $link-hover-color !important;
                    text-decoration: none;
                }
            }
        }

        @include respond-above(md){
            position: relative;
            left: -36px;
        }
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        a{
            color: lighten($footerLinkColor, 5%) !important;
            text-decoration: underline;
        }
    }

    // footer-container breakpoints

    @include respond-between(sm, md) {

        // tablets
        ul {
            min-width: 250px;
            li {
                margin-left: -30px;
            }
            @include respond-between(sm, md){
                margin-left: 0;
            }
        }
    }

    @include respond-between(md,lg){
        position: relative;
        // top: 30vw;
    }

    @include respond-below(sm) {
        height: inherit;
        background: linear-gradient(to bottom, rgb(26, 76, 82) 0%, $link-color 50%, $link-color 80%);
        padding: 2rem 2rem 1rem; 
        margin: 0;

        h3, ul{
            display: none;
            // menu already replicates on main nav
        }

        p {
            font-size: 0.8rem;
            margin-bottom: 1rem;
            text-align: center;
            a{
                color: $link-color;
            }
            &:last-child{
                display: block;
                margin-bottom: 1rem !important;
            }
        }
    }
}
