// Forms SCSS styles
// ====================

.btn{
    &-light{
        background: $btnDarkColor;
        color:white;
        border:none;
        &:hover{
            background: $btnDarkColorHover;
        }
    }
    &-dark{
        background: lighten($link-color, 10%);
        color:white;
        border:none;
        &:hover{
            background:darken($link-color,20%);
        }
    }
    //bootstrap overrides
    &-primary{
        background-color: $btn-primary-link-color;
        min-height: 2rem;
        border: none;
        span{
            color: white;
        }
        &:hover{
            background-color: $link2-color;
        }
        &:visited{
            span{
                color: white;
            }
            
        }
    }
    &-secondary{
        background-color: $btn-secondary-link-color;
        min-height: 2rem;
        border: none;
        span{
            color: white;
        }
        &:hover{
            background-color: $link2-color;
        }
        &:visited{
            span{
                color: white;
            }
        }
    }
}

//newsletter form

#newsletter-signup{
    img.newsletter-graphic{
        margin: 1rem 0 0;
        filter: hue-rotate(328deg) saturate(2);
        height: max-content;
        @include respond-above(sm){
            width: 80%;
        }
        @include respond-below(sm){
            width: auto;
        }
    }
    a{
        color: $newsletter-button-color;
    }

    // input{
    //     &[type=text],
    //     &[type=email]{
    //         background-color: lighten($link-color, 50%);
    //         border-color: lighten($carousel-bg-color, 20%);
    //         border-radius: 4px;
    //         padding: 5px;
    //         font-size: 90%;
    //     }
    //     &[type=submit]{
    //         background-color: $portfolioHome-bg-1;
    //         color: white;
    //         border-width: 0;
    //         border-radius: 4px;
    //         padding: 5px 24px;
    //         font-size: 90%;
    //     }
    // }

    // .col-submit{
    //     input{
    //         &[type=submit]{
    //             border-radius: 6px;
    //             border-color: transparent;
    //             background-color: $body-alt-color !important;
    //             color: white;
    //         }
    //     }
    // }

    // @include respond-above(md){
    //     form{
    //         width: 40vw;
    //     }
    // }

    // @include respond-below(sm){
    //     form>.row .col:nth-of-type(1){
    //         flex-direction: column;
    //         align-items:center;
    //         justify-content: space-between !important;
    //     }
    //     input{
    //         &[type=text], 
    //         &[type=email] {
    //             margin: unset;
    //             width: 75vw;
    //         }
    //         &[type=submit]{
    //             margin: 1rem;
    //             height: 50px;
    //             width: 75vw;
    //         }
    //     }
    // }
}


// Substack iFrame

    iframe[src*="alzamon"] {
            width: 100% !important;
        }


.newsletter-form-header{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    h3{
        @include headerLine($carousel-bg-color, $body-bg-color);
    }
}

#errorMsgDiv, #unauthPageTitle{
    display: none;
}