// Forms SCSS styles
// ====================

.btn{
    &-light{
        background: $btnDarkColor;
        color:white;
        border:none;
        &:hover{
            background: $btnDarkColorHover;
        }
    }
    &-dark{
        background: lighten($link-color, 10%);
        color:white;
        border:none;
        &:hover{
            background:darken($link-color,20%);
        }
    }
}

//newsletter form

#newsletter-signup{
    .newsletter-form-header{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        h3{
            @include headerLine($carousel-bg-color, $body-bg-color);
        }
    }
    img{
        width: 450px;
        margin: 0 0 1rem 0;
        filter: hue-rotate(328deg) saturate(2);
        height: max-content;
    }
    a{
        color: $newsletter-button-color;
    }

    input{
        &[type=email]{
            background-color: rgb(221, 221, 221);
            border-color: lighten($carousel-bg-color, 20%);
            border-radius: 4px;
            margin: 0 1rem 0 0;
            padding: 10px;
        }
        &[type=submit]{
            border-radius: 6px;
            background-color: $body-alt-color !important;
        }
    }

    @include respond-above(md){
        form{
            width: 40vw;
        }
    }

    @include respond-below(sm){
        form>.row .col:nth-of-type(1){
            flex-direction: column;
            align-items:center;
            justify-content: space-between !important;
        }
        input{
            &[type=email] {
                margin: unset;
                width: 75vw;
            }
            &[type=submit]{
                margin: 1rem;
                height: 50px;
                width: 75vw;
            }
        }
    }

}
