// misc styles

.redline{
    border: red 1px solid;
}

.blueline{
    border: cornflowerblue 1px solid;
}

.greenline{
    border: limegreen 1px solid;
}

// custom container styles
.container-fluid{
    &-topborder{
        border-width: 10px 0 0 0;
        border-style: ridge;
        border-color: $link-active-color;
    }
}

// line separator for sections
.separator-h{
    &:not(:last-of-type){
        background: limegreen;
    }
    display: block;
    width: auto;
    height: 3px;
    margin: 1rem auto;        
    background: lighten($body-alt-color, 20%);
}


// Instagram container
.ig-widget{
    background: $body-bg-color;
    h3{
        color: $body-alt-color !important;
        @include headerLine($body-alt-color,$body-bg-color);
    }
}

//lightGallery extras

.lg{
    &-backdrop{
        background-color: $lg-backdrop-color;
    }
    &-toolbar{
        background: linear-gradient(to bottom, $lg-toolbar-color 0%, $lg-backdrop-color 85%);
    }
    &-icon{
            color: darken(white, 20%) !important;
    }
    &-sub-html{
        // background: linear-gradient(to bottom, $lg-backdrop-color 85%, $lg-toolbar-color 0%);
        background: linear-gradient(180deg, $lg-backdrop-color 14%, $lg-toolbar-color 32%, $lg-toolbar-color 89%);
    }

}


// profile picture filtering
.profile-picture{
    filter: sepia(0.65);
}

// trestimonials - bloqckquote
.row-testimonials{
    blockquote{
        background-color: lighten($link-color, 30%);
        border-radius: 1.5rem;
        padding: 1.2rem;
        @include respond-above(md){
            min-height: 450px;
        }
    }
}

// about page - social icons

.about-social{
    display: grid;
    @include respond-above(md){
    
    }grid-template-columns: 20% 20% 20% 20% 20%;
    &-item{
        display: grid;
        justify-content: center;
        i{
            font-size: 3rem;
            display: flex;
            justify-content: center;
            @include respond-below(xs){
                font-size: 2rem;
            }
        }
    }
}