// misc styles

.redline{
    border: red 1px solid;
}

.blueline{
    border: cornflowerblue 1px solid;
}

.greenline{
    border: limegreen 1px solid;
}

// line separator for sections
.separator-h{
    &:not(:last-of-type){
        background: limegreen;
    }
    display: block;
    width: auto;
    height: 3px;
    margin: 1rem auto;        
    background: lighten($body-alt-color, 20%);
}


// Instagram container
.ig-widget{
    background: $body-bg-color;
    h3{
        color: $body-alt-color !important;
        @include headerLine($body-alt-color,$body-bg-color);
    }
}

//lightGallery extras

.lg-backdrop{
    opacity: 0.9 !important;
    background-color: $lg-backdrop-color;
}

//sub page heros
.page-hero{
    &-portfolio{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/azm-newsletter-header.png');
    }
    &-comics{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/azm-newsletter-header.png'); 
    }
    &-services{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/azm-newsletter-header.png'); 
    }
    &-blog{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/azm-newsletter-header.png'); 
    }
    &-about{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/azm-newsletter-header.png'); 
    }
}

