//mixins
//========================

//basic mixins
//========================
@mixin hideText {
    position: relative;
    left: -9999em;
}

// reusable text shadow
@mixin headerTextShadow ($textShadowColor){
    text-shadow: 2px 2px 2px $textShadowColor;
    -webkit-text-shadow: 2px 2px 2px $textShadowColor;
    -moz-text-shadow: 2px 2px 2px $textShadowColor;
    -o-text-shadow: 2px 2px 2px $textShadowColor;
    -ms-text-shadow: 2px 2px 2px $textShadowColor;
}


// box-shadow mixins
//=============================

@mixin masonryBoxShadow {
    -webkit-box-shadow: 3px 3px 5px 0px $masonryBoxShadow;
    -moz-box-shadow: 3px 3px 5px 0px $masonryBoxShadow;
    box-shadow: 3px 3px 5px 0px $masonryBoxShadow;
}

@mixin masonryTextShadow($textShadowColor){
    text-shadow: 2px 1px 2px $textShadowColor;
    -webkit-text-shadow: 2px 1px 2px $textShadowColor;
    -moz-text-shadow: 2px 1px 2px $textShadowColor;
    -o-text-shadow: 2px 1px 2px $textShadowColor;
    -ms-text-shadow: 2px 1px 2px $textShadowColor;
}

@mixin blogBoxShadow{
    box-shadow: 5px 5px 5px 0px $blogBoxShadowColor;
    -webkit-box-shadow: 5px 5px 5px 0px $blogBoxShadowColor;
    -moz-box-shadow: 5px 5px 5px 0px $blogBoxShadowColor;
}

@mixin blogPostShadow{
    box-shadow: 0px 4px 14px 7px  $blogBoxShadowColor;
    -webkit-box-shadow: 0px 4px 14px 7px $blogBoxShadowColor;
    -moz-box-shadow: 0px 4px 14px 7px $blogBoxShadowColor;
}

// border radius mixins
//========================
@mixin br05{
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}


// portfolio mixins
//========================

@mixin portfolioTextHeader {
    h2 {
        color: $portfolioItemLinkColor;
        span {
            font-weight: 300;
            // color: $portfolioHeaderCategoryColor;
        }

        @include respond-below(sm) {
            text-align: center;
            font-size: 2.6rem;
        }
    }
}

@mixin portfolioThumbShadow{
    box-shadow: 4px 5px 8px 0px $portfolioThumbShadowColor;
}

// overlay for portfolio masonry hovers
@mixin portfolioMasonryOverlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 6;
    width:100%;
    height:100%;
    transition: all .5s ease;
    opacity: 0.01;
    >i{
        font-size:2rem;
        
    }
}


// Blog post mixins

@mixin blogPostGrid(){
    background: -moz-linear-gradient(top, $bpgColor1, $bpgColor2, $bpgColor3, $bpgColor4, $bpgColor5); 
    background: -webkit-linear-gradient(top,$bpgColor1, $bpgColor2, $bpgColor3, $bpgColor4, $bpgColor5); 
    background: linear-gradient(to bottom,$bpgColor1, $bpgColor2, $bpgColor3, $bpgColor4, $bpgColor5);
    -moz-transition: background 1s ease-in-out;
    -webkit-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}

// blog / sketchbook grid mixins (list elements)
//=============================
@mixin grid-item{
        list-style: none;
        background:white;
        // @include blogBoxShadow;
        padding: 0.8rem;
        min-height: 300px;
        transition: all 1s ease-in-out;
        a{
            display:block;
            text-decoration: none;
            
            h6{
                color: $link-color;
                font-weight: 800;
                margin: 0.3rem 0 0 0;
                @include respond-below(sm){
                    font-size: 1.3rem;
                }
            }
            span{
                    font-size: smaller;
                    color: $blogTextColor !important;
                    @include respond-below(sm){
                        font-size: larger;
                    }
            }
        }
        // &:hover{
        //     @include blogPostGrid;
        //     a{
        //         h6, span{
        //             color:white !important;
        //         }
        //     }
        // }
    }

// mixin: horizontal line for headers
// ===================================

@mixin headerLine($headerLineColor,$headerBgColor){
    text-align: center;
    display: flex;
    justify-content: center;
    &:before{ // background line generation
        content: "";
        display: block;
        border-top: $headerLineColor 3px solid;
        width: 96%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    span{
        background: $headerBgColor;
        color: $headerLineColor;
        padding: 0 20px;
        position: relative;
        z-index: 3;
        margin: 0 auto;
    }
}

// mixin: page heros
// =================
@mixin pageHero($phBgcolor,$phHeaderColor, $phBgImage){
    background: $phBgcolor url($phBgImage);
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    align-items: center;
    // @include respond-above(md){
    //     min-height: 250px;
    // }
    @include respond-between(sm, md){
        min-height: 180px;
    }
    h1, p{
        color: $phHeaderColor !important;
    }
    h1{
        @include headerTextShadow($header-shadow-color);
    }
    p{
        margin: initial !important;
        @include respond-above(sm){
            font-size: larger;
        }
    }
}