// AZM Portfolio Styles

// z-index variables
$portfolioPageBgIndex: 0;
$portfolioPageImgIndex: 1;
$portfolioPagePrevNextIndex: 2;


// Simpler portfolio layout 2022 - home page
.portfolio-home {
    &-item {
        @include br05;
        min-height: 120px;
        &:nth-of-type(odd) {
            background-color: $portfolioHome-bg-1;
        }

        &:nth-of-type(even) {
            background-color: $portfolioHome-bg-2;
        }
        a {
            background-repeat: no-repeat;
            background-position: 100%;
            display: block;
            background-size: 80%;
            @include br05;


            h3,
            span {
                color: $body-bg-color !important;
            }
            &:hover{
                text-decoration: none;
            }
            @include respond-below(xs){
                background-size: cover;
            }
        }
        @include respond-below(xs){
            min-height: 100px;
        }
    }
}


//sub page hero headers
//==========================

.page-hero{
    h1{
        color: $body-bg-color !important;
    }

    &-illustration{
        @include pageHero($portfolioHome-bg-1,$body-bg-color,'/assets/images/bg-portfolio-home-01.jpg');
        @include respond-between(sm, md){
            background-size: 75%;
        }
        @include respond-below(xs){
            background-size: cover;
        }
    }
    &-characterdesign{
        @include pageHero($portfolioHome-bg-2, $body-bg-color,'/assets/images/bg-portfolio-home-02.jpg');
        @include respond-between(sm, md){
            background-size: 75%;
        }
        @include respond-below(xs){
            background-size: cover;
        }
    }
    &-sketchbook{
        @include pageHero($portfolioHome-bg-1, $body-bg-color,'/assets/images/bg-portfolio-home-03.jpg');
        @include respond-between(sm, md){
            background-size: 75%;
        }
        @include respond-below(xs){
            background-size: cover;
        }
    }
    &-fanart{
        @include pageHero($portfolioHome-bg-2, $body-bg-color,'/assets/images/bg-portfolio-home-04.jpg');
        @include respond-between(sm, md){
            background-size: 75%;
        }
        @include respond-below(xs){
            background-size: cover;
        }
    }
    &-comics{
        @include pageHero($portfolioHome-bg-1, $body-bg-color,'/assets/images/bg-portfolio-home-05.jpg');
        @include respond-between(sm, md){
            background-size: 75%;
        }
        @include respond-below(xs){
            background-size: cover;
        }
    }

    // &-comics{
    //     @include pageHero($body-alt-color,$body-bg-color,'/assets/images/subheaders/shbg-02-comics.png');
    //     @include respond-between(sm, md){
    //         background-position-x: -160px;
    //     }
    //     @include respond-below(xs){
    //         background-position-x: -1px;
    //     } 
    // }
    // &-services{
    //     @include pageHero($body-alt-color,$body-bg-color,'/assets/images/subheaders/shbg-03-services.png');
    //     @include respond-between(sm, md){
    //         background-position-x: -72px;
    //     }
    //     @include respond-below(xs){
    //         background-position-x: -16px;
    //     }         
    // }

    &-blog{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/subheaders/shbg-04-blog.png'); 
        @include respond-below(xs){
            background-position-x: -64px;
        }
    }
    &-about{
        @include pageHero($body-alt-color,$body-bg-color,'/assets/images/subheaders/shbg-05-about.png'); 
        @include respond-above(md){
            background-size: 70%;
        }
        @include respond-between(sm, md){
            background-size: 80%;
            background-position-x: 150px;
        }
        @include respond-below(xs){
            background-position-x: -20px;
        }
    
    }

}


// Set Portfolio Masonry container styles
// =======================================
.portfolio {
    &-category {
        // portfolio category pages
            h2 {
                color: $portfolioHeaderColor;
                span{
                    color: $portfolio-series-category-color;
                }
                @include respond-above(sm){
                    font-size: 2.5rem;
                }
                @include respond-below(sm){
                    font-size: 2.1rem;
                }
            }

        &-container{
            @include respond-below(xs){
                position: sticky;
                top: 75px;
                z-index: 125;
                background: $body-bg-color;
            }
        }
        &-selector{
            // Isotope script category selector of masonry items
            ul{
                list-style: none;
                width:100%;
                // display: inline-block;
                li{
                    width:25%;
                    text-align: center;
                    &:not(:last-child){
                        border-right: $body-alt-color 2px solid;
                    }
                    a{
                        display: flex;
                        justify-content: center;
                        text-decoration: none !important;
                        cursor: pointer;
                        &:active{
                            color:$link-color;
                        }
                        &:hover{
                            color: $link-color !important;
                        }
                        &.selector-active{
                            color: $link-active-color !important;
                        }
                        @include respond-below(xs){
                            font-size: 80%;
                            line-height: 0.9rem;
                        }
                    }
                    //selector: breakpoints
                    @include respond-below(xs){
                        display: inline-flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                //list: breakpoints
                @include respond-above(md){
                    width:70%;
                    margin: 0 auto;
                }

                @include respond-below(xs){
                    // flex-direction: column;
                        padding-bottom: 1rem;
                    li{
                        width: 100%;
                    }
                }
            }
        }
    }


    &-masonry{
        &-item{
            background: $portfolio-masonry-bg-color;
            transition: background-color .45s ease-in;
        p {
            margin: 0.4rem 0 0 0;
            color: $portfolio-masonry-title-color;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 0.8rem;
            text-align: center;

            strong {
                font-family: 'Open Sans Condensed', sans-serif;
                color: $portfolioItemLinkColor;
                letter-spacing: -0.03rem;
            }
        }

            // portfolio masonry item breakpoints

            @include respond-above(lg){
            width:23.5%;
            margin-bottom:2%;
            }
            @include respond-between(md,lg){
            //ipad Pro +
            width:31%;
            margin-bottom: 3%;
            }
            @include respond-between(sm,md){
            //ipad
                width:46.5%;
                margin-bottom: 6%;
            }
            @include respond-below(sm){
                margin-bottom:16px;
            }
        }
        .grid-sizer{ // CSS hack for Isotope masonry script
            @include respond-above(lg){
                width:23.5%;
            }
            @include respond-between(md,lg){
                width: 31%;
            }
            @include respond-between(sm,md){
                width:48%;
            }
        }

        .gutter-sizer{ //CSS hack for Isotope vertical spacing
            @include respond-above(lg){
                width:1.95%;
            }
            @include respond-between(md,lg){
                width: 2.9%;
            }
            @include respond-between(sm,md){
                width:3.5%;
            }
        }
    }
}


// Portfolio Item Page Styles
// ===================================
#portfolio-item,
#comics-item {
    @include portfolioTextHeader;
    h2{
        span{
            color:$portfolio-series-category-color;
        }
    }

    // Portfolio item - Main Image
    img{
        @include masonryBoxShadow;
        position: relative;
        z-index: $portfolioPageImgIndex;
        width: clamp(600px, 96%, 1200px);
    }
}

// Portfolio Item Content (Markdown)
// ===================================
.portfolio-item {
    &-previousNext{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: $body-alt-color 4px solid;
        padding-bottom: 0.7rem;
        a{  
            display: flex;
            align-items: center;
            max-height: 50px;
            img{
                width: 48px !important;
                height: 48px !important;
                box-shadow: none !important;
            }
            span{
                font-size: smaller;
            }
        }
    }
    &-blurb{
        p{
            font-size: 1.2rem;
            // letter-spacing: normal;  
            @include respond-below(xs){
            font-size: 0.9rem;
            }
        }
    }
    &-content,
    &-extras {
        h2 {
            text-align: left;
            font-size: 3rem;
        }

        h3 {
            margin-bottom: 1.5rem;
        }

        p {
            margin: 0 0 1.5rem 0;
            color: $carousel-bg-color;
        }

        // unordered list
        // Portfolio Responsive grid
        ul{
            list-style: none;
            display: grid;
            padding: 0;
            gap: 1.2rem;
            grid-template-columns: repeat(auto-fit, 26rem);
            grid-auto-flow: dense;
            @include respond-above(lg){
                grid-template-columns: 1fr 1fr;
                // grid-template-areas: "landscape landscape" ". .";
            }
            @include respond-below(lg){
                grid-template-columns: 1fr;
            }
            li{
                // https://css-tricks.com/expandable-sections-within-a-css-grid/
                &.fullwidth{
                    grid-column: 1 / -1;
                    img{
                        margin: 0 auto;
                    }
                }
            }
        }


        // ordered list (grid)
        ol {
            // for Markdown images
            // border: fuchsia 1px dotted;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 32% 32% 32%;
            // grid-row: 100vw;
            grid-row-gap: 1rem;
            justify-content: space-between;

            li {
                list-style: none inside;
                place-self: center;
            }

            @include respond-between(sm, md) {
                grid-template-columns: 48% 48%;
                grid-row-gap: 2rem;
            }

            @include respond-below(sm) {
                grid-template-columns: 100%;
                grid-row-gap: 1.8rem;
            }
        }

    }
}

// Portfolio Comics Page styles
// ===================================

.portfolio-comics{
    &-item{
        h3{
            font-size: inherit;
        }
        ul{
            display: grid;
            li{
                list-style: none;  
            }
            // breakpoints
            @include respond-above(sm){
                grid-template-columns: 22% 22% 22% 22%;
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.4rem;
            }
            @include respond-below(sm){
                margin-left: -2.5rem;
                grid-template-columns: 46% 46%;
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.2rem;   
            }
        }
    }
}

// Portfolio Series Page Layout Styles
// ====================================

.portfolio-series {
    h2,
    h3 {
        text-align: center !important;

        span {
            color: $portfolio-series-category-color;
        }
    }
}