// SCSS Variables: Main Colors

// body
    $body-bg-color: rgb(255, 255, 255);
    $body-color: rgb(30, 21, 14);
    $body-alt-color: rgb(238, 151, 87);
    $body-text-color: rgb(0, 0, 0);
// links
    $link-color: rgb(57, 158, 172);
    $link2-color: rgb(26, 76, 82);
    $link-active-color: rgb(238, 151, 87);
    $link-hover-color: mix($link-active-color, rgb(231, 158, 0),50%);
    $link-visited-color: darken($link-active-color,20%);
    $link-underline-color: $link-color;
    $link-button-color: $link-hover-color;
// navbar
    $navbar-bg-color: $body-bg-color;
    $navbar-link-color: $link-color;
    $navbar-link-hover-color: darken($navbar-link-color,30%);
// headlines
    $headline-color-01: rgb(233,120,37);
    $headline-color-02: rgb(26, 125, 143);
// header text shadow
    $header-shadow-color: rgb(15, 22, 19);
    $header-shadow-alt-color:rgb(41, 21, 9);
// heros
    $jumbotron-bg-color: $body-bg-color;
    $carousel-bg-color: rgb(26, 125, 143);
    $carousel-text-color: $body-bg-color;
// forms
    $btn-primary-link-color: darken( $link-active-color,20%);
    $btn-secondary-link-color: rgb(92, 137, 147);

// portfolio home
    $portfolioHome-bg-1: rgb(233,120,37);
    $portfolioHome-bg-2: rgb(75,179,195);
// misc
    $icon-color: $link-color;
    $blockquote-bg-color: saturate($body-alt-color,0.5);
    $blockquote-border-color: $link2-color;
    $portfolio-masonry-bg-color: none;
    $portfolio-masonry-bg-hover-color: $link-active-color;
    $portfolio-masonry-title-color: $body-bg-color;
    $portfolio-masonry-category-color: $link2-color;
    $portfolio-series-category-color: lighten($link2-color,20%);
    $newsletter-button-color: $link-color;
    $blogHeaderColor: $link-color;
    $blogTextColor: $body-color;
    $azm-logo: url('/assets/images/alzamon_logo_light_v3.svg');
// footer
    $footer-text-color: rgb(255, 255, 255);
// lightgallery
    $lg-backdrop-color: rgba(85, 75, 65, 0.97);
    $lg-toolbar-color: rgba(51, 90, 96, 0.8);

    
// custom color variables
// ===================================

$headerColor: rgb(236, 34, 159);
$borderColor: rgb(174, 82, 11);
// $link-color: rgb(221, 24, 100);
// $link-underline-color; rgba(173,24,86,0.67);

$footerLinkColor: lighten($link-color, 40%);
$btnDarkColor: darken($link-color,40%);
$btnDarkColorHover: lighten($link-color,20%);
$jtGradientStartColor:rgba(41, 24, 32, 0.85);
$jtGradientEndColor: rgba(14, 3, 10, 1);


// Navbar Variables
//====================================

// $navbarBgColor: $body-bg-color;
// $navbar-link-color: rgb(163, 151, 151);
// $navbar-link-hover-color: rgba(163, 151, 151,0.7);

// block element variables
// ===================================
$masonryBoxShadow: rgba(71,57,59,0.85);
$blogBoxShadowColor: rgba(41,8,20,0.61);
$blockAboutColor: $link-color;
// $footerContainerBgColor: $navbarBgColor;

// portfolio variables
// ===================================

// Basic
$portfolioMasonryItemPadding: 0.5rem;
$portfolioMasonryColumnGap: 20px;
$portfolioMasonryTitleColor:rgb(255, 255, 255);
$portfolioPageBgSize: 200%;

// colors
$portfolioOverlayBgColor:  rgb(70, 0, 27);
$portfolioItemBgColor: rgb(75, 43, 53);
$portfolioItemLinkColor: $link-color;
$portfolioHeaderColor: $link-color;
$portfolioHeaderCategoryColor: rgba(189, 189, 189, 0.9);
$portfolioThumbShadowColor: rgb(74, 109, 119);