---
layout: default
---

<!-- Basic variables -->
{% assign pf = site.portfolio %}

<!-- variable to filter content from MD line breaks  -->
{% assign pageContent = page.content | strip_newlines %}


<!-- 11/10/2022 - Changing Portfolio to simpler posts structure now -->

<!-- page hero -->
<div class="jumbotron-fluid page-hero page-hero-{{page.slug}}">
    <div class="container">
        <div class="row">
            <div class="col ml-lg-5">
                <h1>{{page.pretty_title}}</h1>
                <p class="portfolio-category-description">{{page.blurb}}</p>
            </div>
        </div>
    </div>
</div>
<!-- end page hero -->


<div id="portfolio-content" class="container">

    <!-- previous, next -->
<div class="row">
    <div class="col">   
        {% include previous-next.html %}  
    </div>
</div>

<!-- display portfolio images -->

<div class="row portfolio-item-blurb">
    <div class="col">
    <p class="text-center d-block w-75 mx-auto mt-2 mb-0">{{ page.description }}</p>
    </div>
</div>

    <div class="row portfolio-item-content my-4">
        <div class="col">
            <!-- Isotope tag -->
            <div class="portfolio-items">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for image in page.images %}
                        <!-- {% if image.image_class %} class="fullwidth" {% endif %} -->
                        <!-- <p class="mt-4">{{image.image_title}}</p> -->
                        <!-- <img class="lozad" data-placeholder-background="#ee9757" data-src="{{image.image_url}}" alt="{{image.image_title}}"></img> -->
                        <a class="lglink {% if image.image_class %}lglink--width2{% endif %}" href="{{image.image_url}}">
                            <img src="{{image.image_thumb}}" alt="{{image.image_title}}">
                        </a>
                {% endfor %}
                </div>

        </div>
    </div>
    {% if page.categories contains "sketchbook"%}
<div class="row">
    <div class="col text-center"><p>More sketches, updated continously, can be found on my <a href="https://go.alzamon.com/" target="_blank">social media profiles.</a></p></div>
</div>
    {% endif%}

</div>

{% include newsletter.html %}
{% include ig-lightwidget.html %}