---
layout: default
---

{%- comment -%}
Layout page for portfolio series category posts, for character design etc.
{%- endcomment -%}

<!-- variable to filter content from MD line breaks  -->
{% assign pageContent = page.content | strip_newlines %}

<div id="portfolio-item" class="portfolio-series container">
    <!-- title -->
    <div class="row">
        <div class="col">
            <h2 class="my-3 text-center"><span>{{page.pretty_category}} /</span> {{page.pretty_title}}</h2>
        </div>
    </div>

    <!--  main image -->
    <div class="row portfolio-item-image">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="{{page.fullsizeimage}}" alt="{{page.title}}" class="img-fluid">
        </div>
        <!-- previous/next links -->
        {% include previous-next.html %}
    </div>

    {% include row-separator.html %}

<!-- Print content if Markdown content is not empty -->
{% if pageContent != '' %}
    <div class="row portfolio-item-content my-4">
        <div class="col">
            {%- comment -%}
            ========================================
            Text content in Markdown file goes here
            ========================================
            {%- endcomment -%}

            {{content}}
        </div>
    </div>
    {% include row-separator.html %}
{% endif %}   

    <!-- Portfolio series image gallery -->
    {% if page.extraimages %}
    <div id="comicPages" class="row my-4">
        {% for item in page.extraimages %}
        <a href="{{item.ei_full}}" title="{{item.ei_name}}">
            <img src="{{item.ei_thumb}}" alt="{{item.ei_name}}">
        <div class="thumbnailOverlay">
            <i class="fas fa-search"></i>
        </div>
        <span>{{item.cp_name}}</span>
        </a>
        {% endfor %}
    </div>
    {% include row-separator.html %}
    {% endif %}


<!-- Start additional images -->
<!-- to enable section remove the comment/endcomment Liquid tags around the code -->

{% comment %}
{% if page.extraimages %}
<div class="row portfolio-item-extras">
    <div class="col">
        <h2>Related images</h2>
    </div>
</div>
<div class="row d-flex my-4">
    <!-- adjust col-md value according to number of present extraimages -->
    {% for item in page.extraimages %}
        <div class="col{% if forloop.length == 1 %}-md-6 offset-md-3 d-flex justify-content-center{% elsif forloop.length == 2 %}-md-4 d-flex justify-content-center{%elsif forloop.length == 3%}-md-4 d-flex justify-content-center{%elsif forloop.length > 3%}-md-3 d-flex justify-content-center{% endif %}">
            <img src="{{item}}" alt="Image">
        </div>     
    {% endfor %}
</div>
{% include row-separator.html %}
{% endif %}
{% endcomment %}

<!-- /end additional images -->


<!-- previous-next former placeholder -->



</div>