---
layout: default
---

<div id="posts-item" class="container py-0">


<!-- post container -->
    <div class="row post-content my-0">
        <div class="col col-md-10 offset-md-1 pb-4">
            <h1 class="mt-3 post-header text-center">{{page.title}}</h1>
            <span class="d-block text-center">{{page.date | date_to_string:"ordinal","US" }}</span>

            <!-- big picture -->
            <div class="post-content-picture">
                <img src="{{page.postimage}}" alt="{{page.title}}">
            </div>

            {% include row-separator.html %}

            {{content}}

        </div>

    </div>

</div>